@use '/src/styles/helpers' as *;

.about {
  overflow: hidden;

  &__bg-block {
    display: inline-flex;
    padding-right: 0;

    @include laptop-above {
      margin-left: calc((100vw - 40px - rem(1230)) / 2);
    }

    @include tablet-above {
      column-gap: rem(76);
    }

    @include tablet {
      flex-direction: column;
      background: var(--color-blue-15);
    }
  }

  &__inner-wrapper {
    overflow: hidden;

    @include mobile-above {
      padding-bottom: rem(108);
    }
  }

  .container-full-screen {
    margin-inline: auto;
    background-color: var(--color-blue-15);
    padding: 0;
    max-width: calc(100vw - 40px);

    @include tablet {
      max-width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: rem(40);
    margin-left: auto;

    @include w-full(var(--section-right-width));

    @include tablet {
      flex-direction: column;
    }

    @include mobile-above {
      // padding-left: rem(20);
    }
  }

  &__blog {
    max-width: rem(734);

    @include tablet {
      margin-bottom: rem(40);
      padding-inline: rem(20);
    }

    &-inner {
      padding-left: rem(78);

      @include mobile {
        padding-left: rem(55);
      }
    }
  }

  &__title-blog {
    margin-bottom: rem(80);

    @include mobile {
      margin-bottom: rem(40);
    }
  }

  &__cover {
    position: relative;
    flex: none;

    @include laptop-above {
      width: calc(420px + (100vw - 1230px) / 2);
    }

    &-image {
      position: relative;
      z-index: 10;

      @include tablet-above {
        width: 100%;
      }
    }

    &::after {
      @include mobile-above {
        position: absolute;
        left: 0;
        background: url(/assets/images/about/about_decor-lines.svg) center / contain;
        width: rem(148);
        height: 100%;
        content: '';
      }
    }
  }
}
