@use '/src/styles/helpers' as *;

.contacts {
  &__bg-block {
    position: relative;
    background-image: url('/assets/images/contacts/bg.webp');
    background-position: center;
    background-size: cover;
    background-color: var(--color-blue-80);
    min-height: rem(651);
    overflow: hidden;

    @include tablet {
      background-image: none;
      min-height: 100%;
    }
  }

  &__inner {
    display: flex;
    padding-bottom: rem(40);
  }

  &__title {
    border-color: inherit;
    color: var(--color-light);
  }

  &__info {
    display: flex;
    position: relative;
    row-gap: rem(28);
    flex-direction: column;
    z-index: 99;
    background-color: var(--color-light);
    padding: rem(40);

    @include w-full(rem(630));

    @include mobile {
      padding: rem(20);
    }

    &-list {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: fluid(25, 16);
      row-gap: rem(18);
      align-items: start;
    }
  }

  &__list-key {
    color: var(--color-gray-40);
    font-size: rem(14);
  }

  &__list-value {
    font-size: rem(18);

    @include mobile {
      font-size: rem(16);
    }

    &--name {
      font-weight: 800;
    }
  }

  &__map-link {
    margin-left: rem(81);
  }
}
