@use '/src/styles/helpers' as *;

.news {
  padding-right: 0;

  @include mobile {
    padding-bottom: 0;
  }

  &__inner {
    margin-left: auto;

    @include w-full(var(--section-right-width));

    @include tablet-above {
      padding-left: rem(20);
    }
  }

  &__title-block {
    @include mobile {
      padding-left: rem(20);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: rem(34);

    @include tablet {
      flex-direction: column;
      gap: 0;
    }

    &-link-wrapper {
      @include mobile {
        padding-left: rem(20);
      }
    }

    &-link {
      padding-block: rem(20);
      color: var(--color-accent);

      @include tablet-above {
        margin-top: rem(40);
      }

      @include hover {
        color: var(--color-blue-80);
      }
    }

    &-text {
      @include tablet {
        margin-bottom: rem(40);
      }

      @include mobile {
        padding-inline: rem(20);
      }
    }

    &-title {
      display: flex;

      h2 {
        margin-top: rem(15);
        max-width: rem(679);
        line-height: 1;
      }
    }

    &-cover {
      flex: none;

      @include tablet-above {
        align-self: center;
      }
    }
  }

  &__text-wrapper {
    @include w-full(rem(659));

    h6 {
      font-size: 1rem;
    }

    p {
      line-height: 1.8;
    }

    ul {
      margin-bottom: rem(24);
      padding-left: rem(15);
      list-style: none;

      li {
        position: relative;
        padding-left: rem(10);
      }

      li::before {
        position: absolute;
        top: rem(10);
        left: rem(-5);
        border-radius: 50%;
        background-color: currentColor;
        content: '';
        font-size: 100%;

        @include square(rem(4));
      }
    }
  }

  &__cover-image {
    object-fit: cover;
    object-position: center;
  }
}
