@use '../helpers' as *;

.partners {
  &__bg-block {
    --aboutPaddingBottom: #{rem(85)};

    padding-bottom: var(--aboutPaddingBottom);

    @include mobile {
      --aboutPaddingBottom: #{rem(40)};
    }

    &--gray {
      background-color: var(--color-ligh-alt);
    }
  }
}
