@use '/src/styles/helpers' as *;

.hero {
  &__bg-block {
    background: url('/assets/images/hero-bg.webp') center/cover;
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      min-height: 100%;
    }
  }

  &__information-block {
    display: flex;
    justify-content: space-between;
    padding-block: rem(84) rem(114);

    @include tablet {
      flex-direction: column;
      padding-block: clamp(1.5rem, -0.8068rem + 9.4637vw, 5.25rem) rem(60);
    }

    @include mobile {
      row-gap: rem(30);
    }
  }

  &__title {
    @include w-full(rem(735));

    @include mobile {
      line-height: 1.2;
    }
  }

  &__details {
    display: flex;
    row-gap: rem(36);
    flex-direction: column;
    justify-content: center;

    @include mobile {
      row-gap: rem(40);
    }
  }

  &__description {
    display: flex;
    row-gap: rem(50);
    flex-direction: column;
    margin-top: rem(14);
    color: var(--color-light);
    line-height: rem(30);

    @include w-full(rem(350));
  }

  &__decoration-block {
    background-image: url('/assets/images/main/decor-lines.svg');
    background-size: cover;
  }

  &__decoration-image {
    max-width: rem(784);
    object-fit: contain;

    @include tablet {
      max-width: rem(500);
    }

    @include mobile {
      margin-left: rem(-183);
    }
  }
}

.news {
  margin-bottom: var(--margin-section);

  @include mobile {
    padding-bottom: rem(23);
    --margin-section: #{rem(40)};
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__bg-block {
    background: url('/assets/images/hero-bg-2x.webp') center/cover no-repeat;
  }
}
